h1 Stats

table
  tr
    td Single Player Games played
    td= singleGames
  tr
    td Best Single Player Game
    td= bestGame
  tr
    td Multi Player Games played
    td= multiGames
  tr
    td Multi Player Games won
    td= multiGamesWon
  tr
    td Winning %
    td= winPercentage